### Eclipse ###
.classpath
.project
.settings/

### Build Output ###
/build/
/bin/
/target/
/.apt_generated/

### Tomcat / Server ###
Servers/
*.log

### Context / DB Config ###
context.xml
**/META-INF/context.xml

### OS ###
.DS_Store

### ENV ###
application.properties

### IntelliJ ###
.idea/
*.iml
