### Eclipse ###
.classpath
.project
.settings/

### Build Output ###
/build/
/bin/
/target/

### Tomcat / Server ###
Servers/
*.log

### Context / DB Config ###
context.xml
**/META-INF/context.xml

### OS ###
.DS_Store
application.properties
/.apt_generated/
